{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}
<center>
    <h1>Battle of the <span style="color:red; font-size: 1.2em; font-style:italic;">C r a b s</span></h1>
<div class="war-container">
<a href="/choose/{{ left.image_id }}/{{ right.image_id }}"><img src="{{ left.url }}" class="enclose-in-size-350 grow fade-in-left"/></a>

&emsp;<img src="https://lh3.googleusercontent.com/-WaeW8gpfq4A/VxJ0SclPWgI/AAAAAAAASbc/E5pGktX6ucEanlSmbyJHkjwCN6eCmMMnQ/w168-h168-p/Vs.png" width="100px" class="fade-in-vs">&emsp;

<a href="/choose/{{ right.image_id }}/{{ left.image_id }}"><img src="{{ right.url }}" class="enclose-in-size-350 grow fade-in-right"/></a>
</div>
{% endblock %}
